@import-normalize; /* bring in normalize.css styles */
@import './components/atoms/vars/vars.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

*{
  list-style: none;
}

h1,h2,h3,h4, p, input, span, div{
  color: var(--text-color);
}

footer{
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding: 20px;
}

.navigation {
  display: flex;
  background-color: var(--active);
  margin-top: 0;
  padding-top: 10px;
}

.navigation li{
  margin: 0 20px;
  padding: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.navigation a{
  text-decoration: none;
  border-color: #0011ff;
  background: linear-gradient(0deg, var(--main-background) 0%, #6464c7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  line-height: 35px;
}

.navigation li:hover,
.navigation li:focus{
  background: var(--main-background);
}

.container a {
  border-radius: 2px;
  max-width: fit-content;
  margin: 2px;
  padding: 2px;
  display: block;
  text-decoration: none;
  background-color: var(--active-background);
  color: var(--main-background);
}

.container a:visited{
  background-color: var(--special-text);
}

.container a:hover,
.container a:focus{
  background-color: var(--active);
}